<div class="contents row">
  <% @writes.each do |write| %>
    <div class="content_post" style="background-image: url(<%= write.image %>);">
      <% if user_signed_in? && current_user.id == write.user_id %>
        <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
            <li>
              <%= link_to '編集', "/writes/#{write.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/writes/#{write.id}", method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
        <%= simple_format(write.text) %>
      <span class="name">
        <a href="/users/<%= write.user_id %>">
        </a>
      </span>
    </div>
  <% end %>
   <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">今のページ</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
</div>
